:root {
  /* THEME 1 */
  --main-background: hsl(222, 26%, 31%);
  --toggle-keypad-background: hsl(223, 31%, 20%);
  --screen-background: hsl(224, 36%, 15%);

  --text-header: hsl(0, 0%, 100%);
  --text-main-btn: hsl(221, 14%, 31%);
  --text-white: hsl(0, 0%, 100%);
  --text-equal-btn: hsl(0, 0%, 100%);

  --button-background: hsl(225, 21%, 49%);
  --button-danger-bg: hsl(6, 63%, 50%);
  --button-orange-bg: hsl(30, 25%, 89%);

  --shadow-secondary: hsl(224, 28%, 35%);
  --shadow-danger: hsl(6, 70%, 34%);
  --shadow-orange: hsl(28, 16%, 65%);

  /* THEME 2 */
  /*
  --main-background: hsl(0, 0%, 90%);
  --toggle-keypad-background: hsl(0, 5%, 81%);
  --screen-background: hsl(0, 0%, 93%);

  --text-header: hsl(60, 10%, 19%);
  --text-main-btn: hsl(198, 20%, 13%);
  --text-white: hsl(0, 0%, 100%);
  --text-equal-btn: hsl(0, 0%, 100%);

  --button-background: hsl(185, 42%, 37%);
  --button-danger-bg: hsl(25, 98%, 40%);
  --button-orange-bg: hsl(45, 7%, 89%);

  --shadow-secondary: hsl(185, 58%, 25%);
  --shadow-danger: hsl(25, 99%, 27%);
  --shadow-orange: hsl(35, 11%, 61%);*/

  /* THEME 3 */
  /*
  --main-background: hsl(268, 75%, 9%);
  --toggle-keypad-background: hsl(268, 71%, 12%);
  --screen-background: hsl(268, 71%, 12%);

  --text-header: hsl(52, 100%, 62%);
  --text-main-btn: hsl(52, 100%, 62%);
  --text-white: hsl(0, 0%, 100%);
  --text-equal-btn: hsl(198, 20%, 13%);

  --button-background: hsl(281, 89%, 26%);
  --button-danger-bg: hsl(176, 100%, 44%);
  --button-orange-bg: hsl(268, 47%, 21%);

  --shadow-secondary: hsl(285, 91%, 52%);
  --shadow-danger: hsl(177, 92%, 70%);
  --shadow-orange: hsl(290, 70%, 36%);*/
}

* {
  font-family: "Spartan", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  padding: 1.5rem;
  background-color: var(--main-background);
}

header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.4rem;
  padding: 1rem 0rem;
}

.app-name {
  color: var(--text-header);
  font-size: 32px;
}

.switcher-container {
  color: var(--text-header);
  font-size: 0.8rem;
  display: flex;
  justify-content: space-around;
  width: 35%;
}

.switcher-title {
  align-self: flex-end;
  font-size: 0.6rem;
  margin-bottom: 0.3rem;
}

.switch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.positions {
  font-size: 0.6rem;
  letter-spacing: 0.3rem;
  margin-left: 0.5rem;
  margin-bottom: 0.2rem;
}

.toggle {
  background-color: var(--toggle-keypad-background);
  padding: 0.25rem 1.3rem;
  border-radius: 0.7rem;
}

.btn-toggle {
  background-color: var(--button-danger-bg);
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  display: block;
  transform: translate(-1rem);
}

.display {
  background-color: var(--screen-background);
  padding: 1.3rem 1.1rem;
  color: var(--text-header);
  font-size: 2rem;
  text-align: end;
  border-radius: 0.6rem;
  margin-bottom: 1.5rem;
}

.numeric-panel {
  background-color: var(--toggle-keypad-background);
  border-radius: 0.6rem;
  padding: 0.6rem;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.row {
  display: flex;
  justify-content: space-evenly;
}

.footer-btn {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}

.btn {
  width: 4rem;
  height: 4rem;
  border: none;
  border-radius: 5px;
  background-color: var(--button-orange-bg);
  font-size: 1.4rem;
  color: var(--text-main-btn);
  border-bottom: 0.3rem solid var(--shadow-orange);
}

.btn-big {
  width: 90%;
  height: 4rem;
  border: none;
  font-size: 1.2rem;
  border-radius: 5px;
}

.btn-big:nth-child(1) {
  margin-right: 0.5rem;
}

.btn-big:nth-child(2) {
  margin-left: 0.5rem;
}

.btn-secondary {
  background-color: var(--button-background);
  color: var(--text-white);
  border-bottom: 0.3rem solid var(--shadow-secondary);
}

.btn-danger {
  background-color: var(--button-danger-bg);
  color: var(--text-equal-btn);
  border-bottom: 0.3rem solid var(--shadow-danger);
}
